body{
    background-color: rgb(0, 0, 0);
}

#main{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 200px;
    background-color: #2c3064;
    max-width: 800px;
    min-width: 600px;
    margin: auto;
    height: fit-content;
    padding-bottom: 50px;
    
}

a{
    margin: 10px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
a:visited{
    color: white;
}

a:hover{
    color: violet;
    
}

h1, h2, h3, h4, h5, p, Link{
    color: rgb(214, 222, 255);
    text-align: center;
    font-weight: 500;
    margin: 0px;

}

#manu{
    text-align: center;

}

Link:visited{
    color: white;
}

#grid{
   background-color: rgb(48, 51, 94);
   margin: auto; 
   margin-bottom: 10px;
   margin-top: 10px;
   border-radius: 25px;

   display: grid;
   min-width:inherit;
   max-width:600px;
   height: fit-content; 
   grid-template-columns: repeat(100,200px);
   overflow: auto;

   padding-bottom: 0px;
   box-shadow: 0px 0px 10px 10px rgb(79, 66, 138);
}

#gridbox{
    text-align: left;
    font-size: 14px;
    max-width: fit-content;
    height: 120px;
    display: flex;
    flex-direction: column;
    

}

#albumImg{
    border-radius: 15px;
    max-width: 168px;
    max-height: 94px;
    display: block;
    opacity: 0.7;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s;
}

#albumImg:hover{
    opacity: 1;

}

#artistPic{
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 60px;
    box-shadow: 0px 0px 10px 10px rgb(79, 66, 138);

    
}

#artist{
    place-items: center;
    
}

#youtube{
    display: block;
    max-width:560px;
    margin-top:13px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px 10px rgb(79, 66, 138);

}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  margin: 0px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-track {
    background: #8176b3;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(97, 75, 160);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(182, 169, 218);
    border: 1px solid rgb(155, 157, 196);
  }






